* {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.a-c {
  align-items: center;
}

.j-c {
  justify-content: center;
}

.j-s {
  justify-content: space-between;
}

.operation-bar {
  display: flex;
  align-items: center;

  .operation-item {
    margin: 10px;
  }

  .margin {
    margin-right: 15px;
  }
}

.custom-input {
  width: 180px;

  .el-input__inner {
    width: 180px;
  }
}

.custom-select {
  width: 180px;

  .el-input__inner {
    width: 180px;
  }
}

.custom-btn {
  background-color: #798093;
  border-color: #798093;
  color: #fff;

  &:focus, &:hover {
    background-color: #979dad;
    border-color: #979dad;
    color: #fff;
  }
}

.el-scrollbar__wrap {
  overflow-x: hidden;
}

.el-select-dropdown__wrap.el-scrollbar__wrap {
  overflow-x: scroll;
}

.el-card {
  .el-card__body {
    padding: 0;
  }
}

.el-divider.el-divider--horizontal {
  margin: 0;
  margin-top: 10px;;
}